@charset 'utf-8';

.icon-bank-ABC-highlight {
  color: #158e7d;
}
.icon-bank-BOC-highlight {
  color: #a40139;
}
.icon-bank-CCB-highlight {
  color: #002c77;
}
.icon-bank-CEB-highlight {
  color: #4e0967;
}
.icon-bank-GDB-highlight {
  color: #da362a;
}
.icon-bank-CMB-highlight {
  color: #d60f48;
}
.icon-bank-CMBC-highlight {
  color: #3690b7;
}
.icon-bank-ICBC-highlight {
  color: #fa0201;
}
.icon-bank-PAB-highlight {
  color: #fe330a;
}
.icon-bank-SHANGHAI-highlight {
  color: #023f98;
}
.icon-bank-SPDB-highlight {
  color: #466dbd;
}
.icon-bank-HXB-highlight {
  color: #e20e20;
}
.icon-bank-BCM-highlight {
  color: #063d74;
}
.icon-bank-PSBC-highlight {
  color: #329743;
}
.icon-bank-CIB-highlight {
  color: #163b82;
}
.icon-bank-CNCB-highlight {
  color: #e10d18;
}
.icon-bank-SHB-highlight {
  color: #353b7c;
}